h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #fff;
  position: absolute;
  top: 80%;
  left: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2.5rem;
}

h3 {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-weight: 700;
  font-size: 1.25rem;
}

.button {
  border: 1px solid black;
  border-radius: 25px;
  width: 10rem;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  padding: 1rem;
}

.button:hover {
  background-color: #40849b;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.nav-container {
  background-color: #203e47;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.menu-icon {
  width: 2rem;
}

.mobile-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown-menu {
  background-color: #203e47;
  display: none;
  width: 100%;
  text-align: center;
}

.dropdown-menu ul li {
  padding-top: 1rem;
}

.home {
  position: relative;
}

.home__gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(70.84%, rgba(0, 0, 0, 0.55)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 70.84%);
  height: 50vh;
}

.home img {
  height: 50vh;
  min-height: 45vh;
  width: 100%;
}

.home-article__container {
  background: -webkit-gradient(linear, left top, right top, from(#83c683), to(#40849b));
  background: linear-gradient(to right, #83c683, #40849b);
  padding: 1rem;
}

.home-article__inner {
  padding: 4rem 0;
}

.home-article__text {
  padding-bottom: 0.75rem;
}

.home-article__text h2 {
  font-weight: 300;
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
  color: white;
  font-family: "Roboto", sans-serif;
}

.home-article__button {
  border: 1px solid black;
  border-radius: 25px;
  width: 10rem;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  padding: 1rem;
}

.home-article__button:hover {
  background-color: #40849b;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.home-article__icon {
  width: 10rem;
  margin: 0 auto;
  margin-top: 3rem;
}

.home-blog-events__wrapper {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23DCEFFA' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem;
}

.home-blog-events__container {
  padding: 4rem 0rem;
}

.home-blog-events__item {
  margin-bottom: 1.75rem;
}

.home-blog-events__item h3:hover {
  color: #40849b;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.home-blog-events__item span {
  font-weight: 300;
}

.home-blog-events__item p {
  margin-top: 0.75rem;
}

.home-blog-events__button a {
  color: #000;
}

.home-events__container {
  background-color: #cecece;
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 1.75rem;
}

.home-events__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.footer__container {
  background-color: #203e47;
  padding: 1rem;
}

.footer__container h4 {
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  color: #fff;
  margin-bottom: 1rem;
}

.footer__address {
  color: #ccc;
}

.footer__phone {
  color: #ccc;
  margin-bottom: 1.75rem;
}

@media only screen and (min-width: 460px) {
  .menu-icon {
    display: none;
  }
  .dropdown-menu ul li {
    padding-top: 0;
  }
  .dropdown-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 500px;
  }
  .dropdown-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .home__gradient {
    height: 100%;
  }
  .home img {
    height: 50rem;
  }
  h1 {
    top: 90%;
  }
  .home-article__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
  }
  .home-article__left {
    width: 30rem;
  }
}
/*# sourceMappingURL=styles.css.map */