$h1-font-size: 2.5rem;
$h1-font-family: 'Roboto', sans-serif;
$h2-font-size: 1.5rem;
$h2-font-family: 'Roboto', sans-serif;
$h3-font-size: 1.25rem;
$h3-font-color: #000;
$h3-font-family: 'Roboto', sans-serif;
$nav-bg-color: #203e47;
$home-bg-linear: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.55) 70.84%);
$home-article-linear: linear-gradient(to right, #83c683,#40849b);
$btn-hover-color: #40849b;
$margin-bottom-button: 1.75rem;

// TYPOGRAPHY

h1 {
    font-family: $h1-font-family;
    font-weight: 400;
    color: #fff;
    position: absolute;
    top: 80%;
    left: 35%;
    transform: translate(-50%,-50%);
    font-size: $h1-font-size;
}

h3 {
    font-family: $h3-font-family;
    color: $h3-font-color;
    font-weight: 700;
    font-size: $h3-font-size;
}

// BUTTONS

.button {
    border: 1px solid black;
        border-radius: 25px;
        width: 10rem;
        text-align: center;
        margin: 0 auto;
        text-transform: uppercase;
        padding: 1rem;
}

.button:hover {
    background-color: $btn-hover-color;
    transition: all 0.4s ease 0s;
}

// NAV
.nav-container {
    background-color: $nav-bg-color;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: 0.25s;
}

.menu-icon {
    width: 2rem;
}

.mobile-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-menu {
    background-color: #203e47;
    display: none;
    width: 100%;
    text-align: center;
}

.dropdown-menu ul li {
    padding-top: 1rem;
}

// HOME BANNER

.home {
    position: relative;

    &__gradient {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        opacity: 1;
        background: $home-bg-linear;
        height: 50vh;
    }


}

.home img {
    height: 50vh;
    min-height: 45vh;
    width: 100%;
}

//////// HOME ARTICLE ////////

.home-article {
    &__container {
        background: $home-article-linear;
        padding: 1rem;
    }

    &__inner {
        padding: 4rem 0;
    }

    &__text {
        padding-bottom: 0.75rem;
    }

    &__text h2 {
        font-weight: 300;
        font-size: $h2-font-size;
        padding-bottom: 0.75rem;
        color: white;
        font-family: $h2-font-family;
    }

    &__button {
        border: 1px solid black;
        border-radius: 25px;
        width: 10rem;
        text-align: center;
        margin: 0 auto;
        text-transform: uppercase;
        padding: 1rem;
        
    }

    &__button:hover {
        background-color: $btn-hover-color;
        transition: all 0.4s ease 0s;
    }

    &__icon {
        width: 10rem;
        margin: 0 auto;
        margin-top: 3rem;
    }
}

//////// HOME BLOG EVENTS ////////

.home-blog-events {
    &__wrapper {
        background-color: #ffffff;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23DCEFFA' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
        background-size: cover;
        background-repeat: no-repeat;
        padding: 1rem;
    }

    &__container {
        padding: 4rem 0rem;
    }

    &__item {
        margin-bottom: 1.75rem; 
    }

    &__item h3:hover {
        color: #40849b;
        transition: 0.5s;
    }

    &__item span {
        font-weight: 300;
    }

    &__item p {
        margin-top: 0.75rem;
    }

    &__button a {
        color: #000;
    }
}

/////// HOME EVENTS //////////

.home-events {
    &__container {
        background-color: #cecece;
        padding: 1rem;
        margin-top: 3rem;
        margin-bottom: $margin-bottom-button;
    }

    &__card {
        display: flex;
        justify-content: space-between;

    }
}


//////// MEDIA QUERY /////////

@media only screen and (min-width: 460px){

    .menu-icon {
        display: none;
    }

    .dropdown-menu ul li {
        padding-top: 0;
    }

    .dropdown-menu {

        display: flex;
        width: 500px;

        &__list{
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
    }
}